@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a::after, a::before {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: black;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  border: 3px solid black;
  background-color: transparent;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.subtitle {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: inherit;
  text-transform: uppercase;
}

.para {
  line-height: 24px;
}

.button {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 0;
  text-transform: uppercase;
  color: white;
  background-color: #68B738;
  padding: 14px 26px;
  border: none;
  height: 54px;
}

.header {
  padding-top: 53px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.menu__item a {
  color: white;
}

.main {
  position: relative;
  height: 570px;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .bg-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -115px;
  height: 696px;
  width: 100%;
  z-index: -3;
}
.main .bg-container__left-void {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.main .bg-container__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background-image: url("../images/sec1_index-background-desktop.webp");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: top right;
  background-color: #68B738;
}
.main__left {
  margin-top: 111px;
  margin-left: 80px;
  width: 415px;
}
.main__title {
  margin-bottom: 40px;
}
.main__subtitle {
  margin-bottom: 66px;
}
.main__img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}
.catalog {
  margin-top: 82px;
}
.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}
.catalog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 570px;
          flex: 0 1 570px;
  padding: 47px 52px;
  background-color: #F2F2F2;
}
.catalog__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 62px;
  margin-bottom: 39px;
}
.catalog__title {
  font-size: 36px;
  text-transform: uppercase;
}
.catalog__icon {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #68B738;
  border-radius: 50%;
}
.catalog__icon:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
}
.catalog__icon_weight-loss::after {
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  background-image: url("../images/sec-2_item-1_cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.catalog__icon_weight-gain::after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../images/sec-2_img-2_cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.catalog__text {
  margin-bottom: 23px;
}
.catalog__button a {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
.catalog__button a:after {
  content: "";
  width: 32px;
  height: 12px;
  background-image: url("../images/sec-2-item3-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.how-it-works {
  margin-top: 70px;
}
.how-it-works__title {
  margin-bottom: 72px;
}
.how-it-works__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 280px;
}
.how-it-works__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 248px;
          flex: 0 1 248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.how-it-works__item:after {
  font-family: "Oswald", sans-serif;
  font-size: 280px;
  line-height: 280px;
  color: #F2F2F2;
  position: absolute;
  z-index: -1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: -40px;
}
.how-it-works__item:nth-child(1)::after {
  content: "1";
}
.how-it-works__item:nth-child(2)::after {
  content: "2";
}
.how-it-works__item:nth-child(3)::after {
  content: "3";
}
.how-it-works__item:nth-child(4)::after {
  content: "4";
}
.how-it-works__icon {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #68B738;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.live-example {
  position: relative;
}
.live-example .background {
  position: absolute;
  width: 100%;
  height: 511px;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  z-index: -1;
  top: 135px;
}
.live-example .background__right {
  background-color: #EAEAEA;
  width: 413px;
  height: 100%;
}
.live-example__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.live-example__content-column {
  max-width: 436px;
}
.live-example__title {
  margin-bottom: 146px;
}
.live-example__text {
  margin-bottom: 69px;
}
.live-example__spent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  margin-top: 55px;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  text-align: center;
}
.info__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 162px;
          flex: 0 1 162px;
}
.info__title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  line-height: 37px;
  border: #CDCDCD 1px solid;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.info__subtitle {
  color: #444444;
  font-size: 14px;
  padding: 0 8px;
  background-color: #F2F2F2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -8px auto 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.slider__subtitle {
  border-bottom: 1px dotted #B8B8B8;
}
.slider__slider-bar {
  background-color: #DCDCDC;
  border-radius: 6px;
  width: 428px;
  height: 6px;
  position: relative;
}
.slider__circle-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px 0 black;
          box-shadow: 0 1px 3px 0 black;
}
.slider__circle-small {
  width: 8px;
  height: 8px;
  background-color: #68B738;
  border-radius: 50%;
}

.cat-image {
  margin-left: -22px;
}
.cat-image__thick {
  margin-right: -5px;
}

.contacts {
  position: relative;
  padding-top: 95px;
  margin-top: 70px;
}
.contacts__map {
  position: absolute;
  z-index: -2;
  top: 0;
  left: -20px;
}
.contacts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 570px;
  padding: 60px 70px;
  background-color: white;
}
.contacts__invite {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 163px;
          flex: 0 1 163px;
  white-space: wrap;
}
.contacts__adres {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 155px;
          flex: 0 1 155px;
  white-space: wrap;
}

.footer {
  margin-top: 124px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F2F2F2;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}