@use "vars";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
//общие стили
:root {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: vars.$main-font-dark;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    //text-transform: uppercase;
}

.subtitle {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    color: inherit;
    text-transform: uppercase;
}

.para {
    line-height: 24px;
}

.button {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 0;
    text-transform: uppercase;
    color: white;
    background-color: vars.$green-background-color;
    padding: 14px 26px;
    border: none;
    height: 54px;
}

//sections
.header {
    padding-top: 53px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
.menu {
    &__inner {
        display: flex;
        gap: 35px;
        $main-font-dark: white;
    }
    .subtitle {

    }
    &__item {
        a {
            color: white;
        }
    }
}

//main section
.main {
    width: inherit;
    position: relative;
    .container {
        display: flex;
        &:after {
            content: "";
            display: inline-block;
            height: 1000px;
            width: 1000px;
            position: absolute;
            background-image: url(../images/sec1_index-background-desktop.webp);
            background-position: center;
            background-repeat: no-repeat;
            margin-top: -378px;
            top: 0;
            right: 0;
            z-index: -2;
        }
    }
    &__left {
        margin-top: 111px;
        margin-left: 80px;
        width: 415px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__subtitle {
        margin-bottom: 52px + 14px;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 60.4%;
        transform: translateX(-50%);
        height: fit-content;
        width: fit-content;
    }
}