@use "reset.scss";
@use "mixins.scss";
@use "vars.scss";
@import "common-styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

//sections
.header {
    // display: none;

    &__inner {
        padding-top: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 202px;
        height: 59px;
        margin-right: 50px;
        img {
            @media screen and (max-width: 826px) {
                width: 174px;
                height: 52px;  
            }
        }
    }
}
.menu {
    flex: 0 1 477px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        line-height: 0;
        justify-content: space-between;
        gap: 15px;
        color: white;
        @media screen and (max-width: 1138px) {
            color: black;
        }
        @media screen and (max-width: 826px) {
            font-size: 18px;
            padding-bottom: 4px;
        }
    }
    &__item {
        display: flex;
        transition: all 0.5s ease-in-out;
        text-wrap: wrap;
        white-space: nowrap;
        &:hover::after  {
            content: "";
            position: absolute;
            width: 100%;
            animation: scale-up-down 0.5s ease;
            top: - vars.$global-padding-value;
            border-bottom: 2px solid white;
            @media screen and (max-width: vars.$tablet-width) {
                border-bottom: 2px solid #68B738;
            }
        }
        @keyframes scale-up-down {
            0% {
                transform: scale(0);
            }
            50% {
                transform: scale(0.8);
            }
            100% {
                transform: scale(1);
            }
        }
    }
}

//main section
.main {
    // display: none;
    $container-height: 694px;
    position: relative;
    min-height: $container-height;
    @media screen and (max-width: 1026px) {
       height: 800px;
    }
    .container {
        display: flex;
    }
    .bg-container {
        position: absolute;
        display: flex;
        margin-top: -122px;
        left: -30px;
        height: $container-height;
        width: calc(100% + 60px);
        z-index: -2;

        @media screen and (max-width: 1138px) {
            display: none;
        }
        &__left-void {
           flex: 0 1 50%;
        }
        &__image {
            flex: 0 1 50%;
            background-image: url("../images/sec1_index-background-desktop.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: vars.$green-background-color;
            
            @media screen and (max-width: 1190px) {
                background-image: none;
            }
        }
    }

    &__content {
        margin-top: 111px;
        margin-left: 80px;
        max-width: 415px;

        @media screen and (max-width: 1026px) {
            margin-top: 62px;
        }  
    }
    &__title {
        margin-bottom: 40px;
    }
    &__subtitle {
        margin-bottom: 52px + 14px;
    }
    &__img {
            position: absolute;
            z-index: -1;
            top: 30px;
            right: 21%;
            @media screen and (max-width: 927px) {
                top: 35%;
            }
            @media screen and (max-width: 1269px) {
                right: 5%;
            }
            @media screen and (max-width: 1191px) {
                right: 0;
            }
            
        img {
            height: auto;
            width: 552px;
            height: auto;

            // @media screen and (max-width: 1138px) {
            //     margin-left: 430px;
            // }
            // @media screen and (max-width: 1026px) {
            //     margin-left: 0;
            // }   
        } 
    }
}

//catalog section
.catalog {
    // display: none;
    &__inner {
        display: flex;
        justify-content: space-between;

        margin-top: 82px;
        gap: clamp(30px, 3%, 60px);
        @media screen and (max-width: 1033px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__item {
        display: grid;
        grid-template-columns: 162px 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "image title"
        "para para"
        "button button";
        @media screen and (max-width: 1033px) {
            grid-template-columns: auto 200px;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "title image"
            "para image"
            "button image";
        }
        flex: 1 1 570px;
        padding: 47px 52px;
        background-color: vars.$grey-background-color;
    }

    &__title {
        font-size: 36px;
        text-transform: uppercase;
        align-self: center;
        margin-bottom: 39px;

    }
    &__icon {
        grid-area: image;
        margin-bottom: 39px;
        @media screen and (max-width: 1033px) {
            width: 200px;
            height: 200px;
        }
        width: 100px;
        height: 100px;
        position: relative;
        background-color: vars.$green-background-color;
        border-radius: 50%;

        &:after {
            //container для отсчета относительно центра
            content: "";
            position: absolute;
            width: 150px;
            height: 150px;
            @media screen and (max-width: 1033px) {
                width: 300px;
                height: 300px;
            }
            top: 50%;
            left: 50%;
        }
        //сами картинки
        &_weight-loss::after {
            transform: translate(-50%,-55%);
            background-image: url("../images/sec-2_item-1_cat-slim.svg");
            $img-width: 70px;
            $img-height: 97px;

            @media screen and (max-width: 1033px) {
                background-size: contain;
                width: $img-width * 2;
                height: $img-height * 2;
            }
            background-repeat: no-repeat;
            background-position: center;
        }
        &_weight-gain::after {
            transform: translate(-50%,-50%);
            background-image: url("../images/sec-2_img-2_cat-pro.svg");

            $img-width: 134px;
            $img-height: 56px;
            @media screen and (max-width: 1033px) {
                background-size: contain;
                width: $img-width * 2;
                height: $img-height * 2;
            }
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__text {
        grid-area: para;
        margin-bottom: 23px;
        @media screen and (max-width: 1033px) {
            padding-right: clamp(20px, 10%, 50px);
        }
    }
    &__button {
        grid-area: button;
        transition: transform 0.3s ease;
        a {
            color: inherit;
            display: flex;
            align-items: center;
            gap: 28px;
            &:after {
                content: "";
                width: 32px;
                height: 12px;
                background-image: url("../images/sec-2-item3-arrow.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &:hover {
            transform: scale(1.03);
        }
    }
}

//how-it-works section
.how-it-works {
    // display: none;
    // overflow: hidden;
    margin-top: 70px;
    &__title {
        margin-bottom: 72px;
    }
    &__items-wrapper {
        //TODO привести в порядок
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: clamp(25px, 5%, 90px);
        row-gap: 120px;
        @media screen and (max-width: 920px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        justify-content: space-between;
    }
    &__item {
        max-width: 248px;

        display: flex;
        flex-direction: column;
        position: relative;

        &:after {
            font-family: "Oswald", sans-serif;
            font-size: 280px;
            @media screen and (max-width: 1183px) {
                font-size: 250px;
                top: -12px;
            }
            @media screen and (max-width: 920px) {
                font-size: 280px;
                top: -40px;
            }
            position: absolute;
            z-index: -1;
            color: vars.$grey-background-color;
            top: -30px;
            right: 0;
        }
        @for $i from 1 through 4 {
            &:nth-child(#{$i})::after {
                content: "#{$i}";
            }
        }
    }
    &__icon {
        width: 80px;
        height: 80px;
        display: flex;
        background-color: vars.$green-background-color;
        justify-content: center;
        align-items: center;
        margin-bottom: 31px;
    }
}

//live-example section
.live-example {
    // display: none;
    position: relative;
    margin-top: 150px;
    padding: 70px 20px 0;
    // .background {
    //     display: flex;
    //     align-items: flex-end;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -1;
    //     &__bottom {
    //         background-color: vars.$grey-background-color;
    //         width: 100%;
    //         height: 70%;
    //     }
    // }
    &__inner {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1148px) {
            flex-direction: column;
            justify-content: center; 
        }
    }
    &__content-column {
        flex: 0 1 436px;
    }
    &__title {
        margin-top: 60px;
        margin-bottom: 146px;
    }
    &__text {
        margin-bottom: 69px;
    }
    &__spent-info-wrapper {
        display: flex;
        gap: 64px;
        margin-top: 55px;
    }
}

.info {
    display: grid;
    grid-template-rows: auto auto;
    @media screen and (max-width: 1148px) {
        grid-template-columns: auto auto;
    }
    row-gap: 55px;
    &__items-wrapper {
        display: flex;
        gap: 42px;
        text-align: center;
    }
    &__item {
        flex: 0 1 162px;
    }
    &__title {
        font-family: "Oswald", sans-serif;
        font-size: 30px;
        line-height: 37px;
        //линия вокруг
        border: #CDCDCD 1px solid;
        border-radius: 3px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    &__subtitle {
        color: #444444;
        font-size: 14px;
        padding: 0 8px;
        background-color: vars.$grey-background-color;
        width: fit-content;
        margin: -8px auto 0;
    }
    &__spent-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: clamp(20px, 5%, 64px);
        text-wrap: nowrap;
        @media screen and (max-width: 1148px) {
            grid-template-columns: auto;
            grid-template-rows: min-content;
            row-gap: 9px;
            text-align: right;
        }
    }
}

.slider {
    flex: 0 1 660px;
    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__cat-images-container {
        position: relative;
        width: 100%;
        // height: 500px;
        padding-bottom: 76%;
        overflow: hidden;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    &__cat-image {
        position: absolute;
        width: inherit;
        height: inherit;
        object-fit: cover;
        top: 0;
        left: 0;
        &--before {
            clip-path: inset(0 50% 0 0);
            z-index: 1;
        }
        &--after {
            clip-path: inset(0 0 0 50%);
            z-index: 2;
        }
    }
    &__bar-wrapper {
        display: flex;
        gap: 3.63%;
        width: 100%;
    }
    &__bar-form {
        width: 100%;
    }
    &__bar-range {
        -webkit-appearance: none; /* Убираем стандартный стиль для Webkit-браузеров */
        -moz-appearance: none;    /* Убираем стандартный стиль для Firefox */
        appearance: none;         /* Убираем стандартный стиль для других браузеров */
        width: inherit;              /* Задаем ширину слайдера */
        height: 8px;              /* Задаем высоту трека */
        background: #DCDCDC;         /* Цвет фона (трек слайдера) */
        border-radius: 6px;       /* Скругляем углы */
        outline: none;            /* Убираем фокусный контур */
        pointer-events: auto;
        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Убираем стандартный стиль */
            -moz-appearance: none;    /* Для Firefox */
            appearance: none;         /* Для других браузеров */
            width: 34px;              /* Ширина ползунка */
            height: 34px;             /* Высота ползунка */
            background: vars.$green-background-color;      /* Цвет ползунка */
            border-radius: 50%;       /* Скругляем ползунок в круг */
            cursor: pointer;          /* Курсор в виде руки */
            box-shadow: 0 1px 3px 0 black;
        }
    }
}

//contacts section
.contacts {
    // display: none;
    $container-height: 410px;
    position: relative;
    padding-top: 95px;
    background: vars.$grey-background-color;
    padding-bottom: 150px;
    @media screen and (max-width: 824px) {
        padding-bottom: 0;
    }
    &__map {
        position: absolute;
        @media screen and (max-width: 824px) {
            position: relative;
        }
        width: 100%;
        height: $container-height;
        top: 0;
    }
    &__card {
        display: flex;
        position: relative;
        max-width: 570px;
        justify-content: space-between;
        padding: 60px 70px;
        background-color: white;
        z-index: 1;
        @media screen and (max-width: 1376px) {
            margin-left: 30px;
        }
        @media screen and (max-width: 824px) {
            max-width: 100%;
            margin-left: 0;
            // margin-top: 67px;
        }
    }
    &__invite {
        flex: 0 1 163px;
        white-space: wrap;
    }
    &__adres {
        flex: 0 1 155px;
        p:nth-last-child(1) {
            margin-top: 20px;
        }
        @media screen and (max-width: 824px) {
            text-align: right;
        }
    }
}

.footer {
    // display: none;

    padding: 57px 20px;
    background-color: vars.$grey-background-color;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.social-media {
    display: flex;
    align-items: center;
    gap: 25px;
    transition: all 0.4s ease-in-out;
    &__item:hover {
        transform: scale(1.2);
    }
}
